<body id="top">
  <div id="cv" class="instaFade">
    <div class="mainDetails" *ngIf="resumedata">
      <div>
        <div id="headshot" class="quickFade">
          <img src="../../assets/headshot.jpg" alt="Alan Smith" />
        </div>

        <div id="name">
          <br />
          <h1 class="quickFade delayTwo">{{ resumedata.fullname }}</h1>
          <!-- <h2 class="quickFade delayThree">{{ resumedata.fullname }}</h2> -->
        </div>

        <div id="contactDetails" class="quickFade delayFour">
          <ul>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"
                >: {{ resumedata.email }}</i
              >
            </li>
            <li>
              <i class="fa fa-phone" aria-hidden="true">
                :{{ resumedata.phone }}</i
              >
            </li>
            <li>
              <i class="fa fa-linkedin" aria-hidden="true"
                >: {{ resumedata.linkedin }}</i
              >
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>

      <div id="mainArea" class="quickFade delayFive">
        <section>
          <article>
            <div class="sectionTitle">
              <h1>Personal Profile</h1>
            </div>

            <div class="sectionContent">
              <p>
                {{ resumedata.profile }}
              </p>
            </div>
          </article>
          <div class="clear"></div>
        </section>

        <section>
          <div class="sectionTitle">
            <h1>Work Experience</h1>
          </div>

          <div class="sectionContent">
            <article>
              <!-- <h2>Job Title at Company</h2>
              <p class="subDetails">April 2011 - Present</p> -->
              <p>
                {{ resumedata.experience }}
              </p>
            </article>
          </div>
          <div class="clear"></div>
        </section>

        <section>
          <div class="sectionTitle">
            <h1>Key Skills</h1>
          </div>

          <div class="sectionContent">
            <ul class="keySkills">
              <li>{{ resumedata.keyskill1 }}</li>
              <li>{{ resumedata.keyskill2 }}</li>
              <li>{{ resumedata.keyskill3 }}</li>
              <li>{{ resumedata.keyskill4 }}</li>
              <li>{{ resumedata.keyskill5 }}</li>
            </ul>
          </div>
          <div class="clear"></div>
        </section>

        <section>
          <div class="sectionTitle">
            <h1>Projects</h1>
          </div>

          <div class="sectionContent">
            <p>{{ resumedata.project }}</p>
          </div>
          <div class="clear"></div>
        </section>

        <section>
          <div class="sectionTitle">
            <h1>Certifications</h1>
          </div>

          <div class="sectionContent">
            <p>{{ resumedata.certification }}</p>
          </div>
          <div class="clear"></div>
        </section>

        <section>
          <div class="sectionTitle">
            <h1>Education</h1>
          </div>

          <div class="sectionContent">
            <article>
              <h2>School</h2>
              <p>
                {{ resumedata.school }}
              </p>
            </article>

            <article>
              <h2>College/University</h2>
              <p class="subDetails">Qualification</p>
              <p>
                {{ resumedata.college }}
              </p>
            </article>
          </div>
          <div class="clear"></div>
        </section>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-info text-center">Download as PDF</button>
    </div>
  </div>
</body>
